.people

    
    &__subtext
        max-width: 25.71rem
        padding-bottom: 2.7rem
    &__block
        display: flex
        justify-content: space-around
        
        
    &__blocks
        display: flex
        justify-content: space-around
        flex-direction: column
        max-width: 26.21rem
    &__title
        display: flex
        justify-content: flex-start
        align-items: center
    &__name
        font-size: 18px
        font-family: 'Yeseva One', cursive
        max-width: 17.07rem
        margin-left: 1.5rem
    &__text
        margin-top: 2rem
        color: $secondary
        font-size: 15px
        line-height: 180%
        font-family: 'FuturaBookC', cursive
        max-width: 24.44rem
.section
    &__people
        margin-bottom: 20rem